.vscode/**
.vscode-test/**
src/**
.gitignore
**/*.map
**/*.ts
esbuild.config.mjs
tsconfig.json
node_modules/**
!node_modules/@anthropic-ai/**
!node_modules/@modelcontextprotocol/**
!node_modules/zod/**
