.vscode/**
.vscode-test/**
src/**
.gitignore
**/*.map
**/*.ts
esbuild.config.mjs
tsconfig.json
node_modules/**
!node_modules/@anthropic-ai/**
!node_modules/ajv/**
!node_modules/ajv-formats/**
!node_modules/fast-deep-equal/**
!node_modules/fast-uri/**
!node_modules/json-schema-traverse/**
!node_modules/require-from-string/**
